@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    padding: 16px;
}

.content {
    max-width: 960px;
    margin: 0 auto;
}

.header {
    background: #1F2937;
}

.header > .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: #FFF;
}

.logo {
    font-weight: 700;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    font-weight: 300;
    font-size: 18px
}

.hero {
    background: #1F2937;
    color: #FFF;
    padding: 100px 16px;
}

.hero > .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    height: 200px;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6E747D;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

p {
    margin-bottom: 10px;
    font-size: 18px;
}

button {
    background: #3882F6;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 8px 24px;
    font-size: 18px;
}

.information {
    padding: 50px 16px 70px 16px;
    background: #FFF;
}

.information > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.panel {
    width: 170px;
    text-align: center;
    color: #1F2937;
}

.image-box {
    width: 170px;
    height: 170px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 16px;
}

h2 {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}